<div class="card">
  <h3 class="card-header">Add Student</h3>
  <div class="card-body">
    <p class="card-text">
      <%= render "form", student: @student %>
    </p>
  </div>
</div>

<div>
  <%= link_to "Back to students", students_path %>
</div>