<div id="<%= dom_id book %>">
  <div class="card-body">
    <h3 class="card-title"><%= book.book_name %></h3>
    <h6 class="card-subtitle mb-2 text-muted"><%= book.book_name %></h6>
    <hr/>
  </div>
</div>
